@use "sass:color";

.city-search {
  &__input {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
  }

  &__results {
    position: absolute;
    width: 500px;
  }
}

.result {
  padding: 0.3rem;
  background-color: black;
  border-bottom: 1px solid grey;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  &__city {
    font-size: 1.2rem;
  }

  &__country {
    font-size: 1.1rem;
  }

  &:hover {
    background-color: color.adjust(black, $lightness: 10%);
  }
}
