* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.6rem;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.details {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.overview {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  &__title {
    font-size: 1.5rem;
  }

  &__temperature {
    font-size: 3rem;
  }

  &__temp-name {
    font-size: 1rem;
  }

  &__overview__temps {
    font-size: 1rem;
  }
}

.forecast-24h {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__titletext {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
  }

  &__pane-view {
    width: 100%;
    overflow: auto;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.pane-24h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__hour {
    font-size: 1.2rem;
  }

  &__temp {
    font-size: 1.2rem;
  }
}

.forecast-3d {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  overflow: auto;

  &__titletext {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__pane-view {
    display: flex;
    flex-direction: column;
  }
}

.pane-3d {
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.single-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &__pane-single {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.3rem;
    box-shadow: 1px 1px 3px hsl(0, 0%, 30%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  &__pane-title {
    font-size: 1.1rem;
  }

  &__pane-text {
    font-size: 1.1rem;
  }
}
